<!DOCTYPE html>
<html>
<head>
	<title>We Rent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
    });
  } );
  </script>
</head>

<body>
	<h1>Add a Property Listing</h1>
	<div>
		<form id="PropertyListingForm" method="post" action="/management/add_property_listing/">
			{% csrf_token %}
			<table>
				{{ form }}
			</table>
			<input type="submit" name="submit" value="Create Property Listing"/>
			
		</form>
			
	</div>

</body>
</html>